footer {
  width: 100%;
  line-height: 125px;
  background: #1c1c1c;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo-footer {
    width: 600px;
    display: flex;
    justify-content: space-between;
    height: 20px;
  }
  h3 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.5;
  }
  img:hover {
    cursor: url(../img/description-cursor-icon-with-shadow-32.png), auto;

    opacity: 0.5;
  }
}
